---
Language:        Cpp
BasedOnStyle:  Google
# DisableFormat:   true
IncludeCategories: 
  - Regex:           '^(<|")cure/.*h'
    Priority:        2
  - Regex:           '^(<|")zm/.*h'
    Priority:        3
  - Regex:           '^(<|")zeo/.*h'
    Priority:        4
  - Regex:           '^(<|")roki/rk_.*h'
    Priority:        5
  - Regex:           '^(<|")dzco/.*h'
    Priority:        6
  - Regex:           '^(<|")liw/.*h'
    Priority:        7
  - Regex:           '^(<|")zx11/.*h'
    Priority:        8
  - Regex:           '^(<|")roki/rkgl_.*h'
    Priority:        9
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        10
  - Regex:           '.*'
    Priority:        11
