# Build directory
/build

# C/C++
*.d
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
